<form [formGroup]="form" (ngSubmit)="addToCart(form.value)" class="cart-form" >
    <p>Livraison gratuite dès EUR 25 d'achats en France métropolitaine.</p>

    <!-- STOCKS DISPONIBLE - INDISPONIBLE-->
    <span class="stock-ok" *ngIf="totalStock">
        Stock disponible
    </span>
    <span class="stock-ko" *ngIf="!totalStock">
        Stock indisponible pour ce produit
    </span>
    <!-- Si stock inferieur a 10-->
    <span *ngIf="totalStock > 1 && totalStock <= 10"> :
        <span class="stock-low">
            Plus que {{totalStock}} produits disponibles
        </span>
    </span>
    <span *ngIf="totalStock === 1"> :
        <span class="stock-low">
            Dernier produit disponible
        </span>
    </span>
    <br>

    <!-- LIVRAISON RAPIDE -->
    <mat-checkbox formControlName="fastShippingOption">
        <p>Livraison en 1 jour (10 euros supplementaire)</p>
    </mat-checkbox>

    <!-- TAILLE -->
    <section class="select">
        <span>
            Quelle est votre taille ?
        </span>
        <mat-select required formControlName="size" class="mat-select" placeholder="Taille">
            <ng-container *ngFor="let sizeQte of sizeQtes; let i = index">
                <mat-option value="{{ sizeNames[i] }}"
                    (onSelectionChange)="resetQtesSelected(qte)"
                    *ngIf="sizeQte > 0">
                    {{ sizeNames[i] }}
                </mat-option>
            </ng-container>
        </mat-select>
    </section>

    <!-- Si taille non renseignee -->
    <mat-error *ngIf="size.touched && size.invalid">
        <mat-error *ngIf="size.hasError('required')">
            Merci de renseignez votre taille.
        </mat-error>
    </mat-error>

    <!-- QUANTITE SELECT -->
    <section class="select">
        <span>Combien de produits desirez-vous ? </span>
        <input required formControlName="quantities"
               min="0" max="{{ availableStockForSize + 1 }}"
               (change)="compareStockAndQtesSelected(qte)" #qte
               matInput class="mat-select quantities"
               placeholder="Quantite" type="number">
    </section>
    <!-- Si qteSelect non renseignee OU < 0 OU > au stock -->
    <mat-error *ngIf="quantities.touched && quantities.invalid">
        <mat-error *ngIf="quantities.hasError('min')">
            Entrez une quantite superieur ou egale a 1 au minimum.
        </mat-error>
        <mat-error *ngIf="quantities.hasError('max')">
            Il n'y a que {{ totalStock }} produits en stock.
        </mat-error>
        <mat-error *ngIf="quantities.hasError('required')">
            Selectionnez au moins 1 produit.
        </mat-error>
    </mat-error>


    <!-- BOUTONS -->
    <div class="btn">
        <button mat-raised-button color="primary" [disabled]="!form.valid">
            Ajouter au panier
        </button>

        <button (click)="navigateToCard()" mat-raised-button color="secondary"
            [disabled]="!form.valid">
            Acheter
        </button>
    </div>
</form>
