.stock-ok {
  color: green;
}
.stock-ko {
  color: red;
}
.stock-low {
  color: orangered;
  text-decoration: underline;
  font-weight: bold;
}
.btn {
  display: flex;
  justify-content: center;
}

.cart-form {
  border: solid 1px black;
  padding: 20px;
}
.select {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.mat-select {
    width: 54px;
    padding: 10px;
    margin-left: 20px;

    border: 0.5px solid grey;
    border-radius: 5px;
  }
  .quantities {
    width: 88px;
  }

mat-error {
    display: block;
    margin-bottom: 10px;
}

button {
  margin-right: 20px;
}
