<mat-toolbar>
  <!-- <img src="https://via.placeholder.com/300x38" alt="Logo Merry Kitschmas"> -->
  <button mat-button routerLink="/">
    <p>🎄 Merry Kitschmas</p>
  </button>
  <span class="fill-remaining-space"></span>
  <i class="material-icons search-icon">search</i>
  <mat-form-field>
    <input matInput placeholder="" value="Rechercher">
  </mat-form-field>

  <button mat-button class="button-direction">
    <span class="cart-text">Mon panier</span>
    <i class="material-icons">shopping_cart</i>
  </button>
</mat-toolbar>
