mat-toolbar {
    font-size: 16px;
    background-color: #fff;
    height: 84px;
}

.mat-button {
    background-color: #fff;
    margin-right: 32px;
    color: #CE1158;
}

.isOrdering {
    background-color: #CE1158;
    color: #fff;
}