<section class="container" *ngIf="product">
    <h1>{{ product[0]?.name }}</h1>
    <section class="main">
        <section class="picture">

            <app-product-picture
                    [picture]="product[0]?.image">
            </app-product-picture>

        </section>
        <section class="description">

            <app-product-description
                    [price]="product[0]?.price"
                    [description]="product[0]?.description"
                    [commentQte]="product[0]?.comments.length">
            </app-product-description>

            <app-cart-control></app-cart-control>
        </section>
    </section>

    <section class="recommendations">
        <app-product-recommendations>
        </app-product-recommendations>
    </section>

    <section class="comments">
        <app-product-users-comments-details></app-product-users-comments-details>
    </section>
</section>